@import "../../scss/mixins/font-face";

.navigationBar {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	padding: 2rem 1.5rem;
	border-bottom: 0.0125rem solid rgba(#979797, 0.2);
	@media screen and (min-width: 768px) {
		padding: 2rem 0rem;
	}

	& .nav-link {
		color: var(--light-common);
		&.active {
			color: var(--color-common);
		}
		&:hover {
			color: var(--color-common);
		}
		@media screen and (min-width: 992px) {
			padding-left: 1.125rem !important;
			padding-right: 1.125rem !important;
		}
	}
	&__links-wrapper {
		cursor: pointer;
		font-size: 0.875rem;
		text-transform: uppercase;
		line-height: 1.5rem;
		font-weight: 700;
	}

	&__toggler-icon {
		padding: 0;
	}

	&__cart-icon {
		cursor: pointer;
		&_mobile {
			display: block;
			@media screen and (min-width: 992px) {
				display: none;
			}
		}
		&_desktop {
			display: none;
			margin-left: auto;
			@media screen and (min-width: 992px) {
				display: block;
			}
		}
	}

	&__brandIcon {
		@media screen and (min-width: 576px) and (max-width: 992px) {
			flex: 1;
			margin-left: 3rem;
		}
	}
}
