.cart-modal {
	&__product-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.cart-product-item {
	&__amount-input-wrapper {
		width: 6rem;
	}
	&__left-side {
		display: flex;
		align-items: center;
		& img {
			width: 4rem;
			height: 4rem;
			border-radius: 0.75rem;
		}
	}
	&__title-and-price {
		margin-left: 0.75rem;
	}
	&__title {
		font-weight: 700;
		margin-bottom: 0.25rem;
	}
	&__price {
		font-size: 0.875rem;
		font-weight: 700;
		opacity: 0.5;
	}
}
