:root {
	// base
	--font-family: "Manrope", sans-serif;
	// colors
	--color-common: #d87d4a;
	--color-primary: #fbaf85;
	--light-common: #fff;
	--light-primary: #fafafa;
	--light-secondary: #f1f1f1;
	--dark-common: #000;
	--dark-primary: #101010;
}
